<configuration>
	<appSettings>
		<add key="MyKey" value="MyValue" />
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=..." />
	</connectionStrings>
	<customSection>
		<item key="First" value="Value1" />
		<item key="Second" value="Value2" />
	</customSection>
</configuration>
